body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

button,
.cta button {
  color: white;
  background-color: #3882f6;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
}

.header,
.hero,
.heading,
.offerings,
.quote  {
  display: flex;
  padding: 48px 100px;
  align-items: center;
}

.header,
.hero {
  background-color: #1f2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 0;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 1000;
}

.header-links ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

.header-links a {
  text-decoration: none;
}

.header-links a,
.hero p {
  color: #e5e7eb;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.hero-text {
  flex-grow: 1;
  flex-basis: 300px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
  margin: 0;
}

.hero p {
  margin: 8px 0px 16px;
}

.hero img {
  flex-shrink: 1;
}

.heading {
  justify-content: center;
  font-size: 36px;
  font-weight: 1000;
  color: #1f2937;
}

.offerings {
  padding-top: 0;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-wrap: wrap
}

.item {
  flex-grow: 0;
  flex-basis: 200px;
}

.item img {
  border-radius: 15px;
}

.offerings p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: #1f2937;
}

.quote-person {
  align-self: flex-end;
  font-weight: bold;
  color: #1f2937;
}

.cta {
  color: white;
  background-color: #3882f6;
  padding: 32px 48px;
  border-radius: 5px;
  margin: 48px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.cta-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta h3 {
  margin: 0;
  font-size: 1.3em
}

.cta button {
  border: 2px solid white;
}


@media (max-width: 628px) {
  .header,
  .hero,
  .heading,
  .offerings,
  .quote  {
    padding: 16px 32px;
  }

  .cta {
    margin: 16px 32px;
  }
}
